.switch-button {
    border: none;
    padding: 14px 25px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    background: #e8f1e9;
    color: #2f8147;
}

.switch-button:hover {
    background: #dcebdd;
}