* {

    box-sizing:
        border-box;

}


body {

    margin:
        0;

    padding:
        30px;

    font-family:
        Arial,
        sans-serif;

    background:
        #eef7ef;

    color:
        #173d20;

}


.container {

    max-width:
        800px;

    margin:
        auto;

}


h1 {

    text-align:
        center;

    font-size:
        40px;

    color:
        #24752c;

}


.subtitle {

    text-align:
        center;

    font-size:
        18px;

}


.card {

    background:
        white;

    margin-top:
        25px;

    padding:
        25px;

    border-radius:
        15px;

    box-shadow:
        0 5px 20px
        rgba(0,0,0,0.10);

}


button {

    width:
        100%;

    padding:
        15px;

    border:
        none;

    border-radius:
        10px;

    background:
        #2e7d32;

    color:
        white;

    font-size:
        18px;

    cursor:
        pointer;

}


button:hover {

    background:
        #1b5e20;

}


.result-box {

    background:
        #f0f8f1;

    padding:
        20px;

    border-radius:
        10px;

}


.result-box p {

    font-size:
        17px;

    padding:
        5px;

}